<config>
    <modules>
        <Cmsmart_Configsystem>
            <version>1.0.0</version>
        </Cmsmart_Configsystem>
    </modules>
    <global>
        <models>
            <cmsmart_configsystem>
                <class>Cmsmart_Configsystem_Model</class>
            </cmsmart_configsystem>
        </models>
        <blocks>
            <cmsmart_configsystem>
                <class>Cmsmart_Configsystem_Block</class>
            </cmsmart_configsystem>
        </blocks>
        <helpers>
            <cmsmart_configsystem>
                <class>Cmsmart_Configsystem_Helper</class>
            </cmsmart_configsystem>
        </helpers>
    </global>

    <frontend>
        <routers>
            <cmsmart_configsystem>
                <use>standard</use>
                <args>
                    <module>Cmsmart_Configsystem</module>
                    <frontName>configsystem</frontName>
                </args>
            </cmsmart_configsystem>
        </routers>
        <layout>
            <updates>
                <cmsmart_configsystem>
                    <file>cmsmart/configsystem.xml</file>
                </cmsmart_configsystem>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <cmsmart_configsystem>
                    <file>cmsmart/configsystem.xml</file>
                </cmsmart_configsystem>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <cmsmart_configsystem>
                <use>admin</use>
                <args>
                    <module>Cmsmart_Configsystem</module>
                    <frontName>configsystem</frontName>
                </args>
            </cmsmart_configsystem>
        </routers>
    </admin>

    <default>
        <configsystem>
            <cmsmart_fontend>
                <enalbed_jquery>1</enalbed_jquery>
                <enalbed_jquery_mirgate>1</enalbed_jquery_mirgate>
                <enalbed_jquery_noconflig>1</enalbed_jquery_noconflig>
            </cmsmart_fontend>
            <cmsmart_backend>
                 <enalbed_jquery>1</enalbed_jquery>
                <enalbed_jquery_mirgate>1</enalbed_jquery_mirgate>
                <enalbed_jquery_noconflig>1</enalbed_jquery_noconflig>
                <enabled_plugin_colorpicker>1</enabled_plugin_colorpicker>
            </cmsmart_backend>
        </configsystem>
    </default>
</config>