*{margin:0;padding:0}
.pdp_design_view {
  margin: 10px auto;
  width: 513px;
}
.pdp_action {
  left: 0;
  position: absolute;
  top: 0;
}
.pdp_sides_control {
    position: absolute;
    top: 0;
    right: 0;
}
.pdp_sides_control div {
  background: none repeat scroll 0 0 #00AEEF;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 10px;
  padding: 15px;
  text-align: center;
}
.pdp_sides_control div.active {
    background: red;
}
.pdp_design_view .pdp_side {
   
}
.pdp_info_items {
  margin: 0 auto;
  width: 650px;
}
.pdp_info_items table {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.pdp_info_items td, .pdp_info_items th {
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 5px;
}
.pdp_info_items th {
  background: none repeat scroll 0 0 #777777;
  color: #FFFFFF;
}
@media print {
	.pdp_wrap .pdp_sides_control, .pdp_wrap .pdp_action {
		display: none;
	}
}

.pdp_wrap {
	text-align: center;
	border: #eee solid 50px;
	border-top-width: 15px;
}

.export-btn {
	border: none;
	padding: 10 20px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	background: #3399cc;
}

.canvas-wrapper .download-btns {
	position: absolute;
	top: 5px;
	right: 15px;
}
.wrap_inlay {
	display: block;
}
.include-bg {
	background: none repeat scroll 0 0 #eee;
    padding: 5px;
    text-align: center;
}
.include-bg .export-btn {
	background: none repeat scroll 0 0 #68ad83;
}