.pdp2-icon-menu{	/* background: url(../images/icon/icon_menu.svg); */	}	
.pdp2-icon-left{	/* background: url(../images/icon/icon_left.svg); */	}	
.pdp2-icon-center{	/* background: url(../images/icon/icon_center.svg); */	}	
.pdp2-icon-right{	/* background: url(../images/icon/icon_right.svg); */	}	
.pdp2-icon-color{	/* background: url(../images/icon/icon_color.svg); */	}
.pdp2-icon-del{/* background: url(../images/icon/icon_delete.svg); */}
.pdp2-icon-position{/* background: url(../images/icon/icon_position.svg); */}
.pdp2-icon-dup{/* background: url(../images/icon/icon_duplicate.svg); */}
.pdp2-icon-opa{/* background: url(../images/icon/icon_opacity.svg); */}
.pdp2-icon-flip{/* background: url(../images/icon/icon_flipping.svg); */}
.pdp2-icon-shadow{/* background: url(../images/icon/icon_shadow.svg); */}
.pdp2-icon-paint{/* background: url(../images/icon/icon_paint.svg); */}
.pdp2-icon-rotate{
	/* background: url(../images/icon/icon_rotate.svg); */	
}
.pdp2-icon-arrow{
	/* background: url(../images/icon/icon_arrow.svg); */ 	
}
ul.pdp2-button li .pdp2-icon-share{/* background: url(../images/icon/icon_f.svg); */ }
ul.pdp2-button li .pdp2-icon-save{/* background: url(../images/icon/icon_save.svg); */}	
.pdp2-icon-facebook{/* background: url(../images/icon/icon_facebook.svg); */}
.pdp2-icon-instagram{/* background: url(../images/icon/icon_instagram.svg); */}
.pdp2-icon-expand{/* background: url(../images/icon/icon_expand.svg); */	}
i.pdp2-icon-16{	background-size: 16px 16px!important;  display:inline-block; height:16px; width:16px;}
i.pdp2-icon-10{	background-size: 10px 10px!important;  display:inline-block; height:10px; width:10px;}
i.pdp2-icon-28{	background-size: 28px 28px!important;  display:inline-block; height:28px; width:28px;}
i.pdp2-icon-32{	background-size: 32px 32px!important;  display:inline-block; height:32px; width:32px;}
.pdp2-btn-item .pdp2-icon svg{fill:#7D8893;}
.pdp2-btn-item.over .pdp2-icon svg{fill:#000;}