@media (min-width: 1200px) {}
@media (min-width: 980px) {}
@media (max-width: 979px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 768px) {
	.pdp2-right{width:100%;}	
	.pdp2-left-bottom{min-height:0;}
	.pdp2-scrollbar-hor .overview{text-align:center;}
	
}
@media (max-width: 600px) {
	.pdp2-popup{width:100%!important; padding:0;}
}
@media (max-width: 320px) {
	ul.pdp2-button{
		max-width:100%; 
		padding: 0 10px;
	}
	.pdp2-sides{
		border:1px solid #ccc; 
		padding:8px 10px; 
		margin:0 0 10px;
	}
	.pdp2-form-search, .pdp2-all-grap, .pdp2-all-word, .pdp2-text-field-top textarea{width:100%;}
	.pdp2-form-search{margin-bottom:10px;}
	.pdp2-text-align{
		width:100%; 
		margin:10px auto 0; 
		text-align:center;
	}
	.pdp2-text-align ul li{display:inline-block;}
	.pdp2-text-color{width:50%;}
	.pdp2-line-height{width:46%;}
	.pdp2-text-field-mid .pdp2-family{width:100%;  margin: 0 0 10px;}
	.pdp2-text-field-mid .pdp2-size{width:48%;}
	.pdp2-text-field-mid .pdp2-style{width:48%;  margin: 0;}
	.pdp2-text-field-bottom {    margin: 0 0 10px;}
	.pdp2-upload-top .pdp2-upload-form button{margin:10px 0 0;}
	.pdp2-left-bottom{min-height:390px;}
	.pdp2-popup h3 span {
		font-size: 20px;
	}
	.pdp2-popup h3 p {
		font-size: 14px;
	}
	ul.pdp2-save-option li a{padding:8px 15px;}
	.pdp2-save-log h3.save-log-left{margin:0;}
	.pdp2-upload-top .pdp2-upload-form input{width:100%;}
	.pdp2-right-bottom .pdp2-button-action{margin:0px auto; text-align:center;}
	.pdp2-button-action .pdp2-btn-item{float:none;}
}