#tshirt a {
    color: #0088CC;
}
#tshirt a:hover {
    color: #EA7601;
}
#tshirt a:focus, #tshirt .active > a {
    color: #555555;
}
.action-panel {
    float: right;
    margin-bottom: 10px;
}
.action-panel button.btn:hover {
	background-color: #51A351;
}
.action-panel span {
	font-weight: normal;
}
.control-group .pagination {
	margin: 0px 0px;
}
/**Reset bootstrap**/
body {
	font: 12px/1.5em Arial,Helvetica,sans-serif;
}
.label, .badge {
	color: #EB5E00;
    font-size: 11px;
    font-weight: normal;
	line-height: 16px;
	background: none;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.container-fluid span.title {
    color: #7587AA;
    font-family: Times New Roman;
    font-size: 24.5px;
    font-weight: bold;
}

ul, ol {
	margin: 0px;
	padding: 0px;
}
.icon-eye-open {
	background-position: -96px -120px;
	margin-left: 10px;
}
/**Reset bootstrap**/

button.btn:hover {
	background: #F4F4F4;
}
.browse-image {
  float: left;
  margin: 15px 0 0 40%;
  width: 60%;
}
#tshirt .tab-content {overflow:visible;}
.tab-content {
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 0 4px;
  float: right;
  padding: 12px 0;
  width: 82%;
}
.btn-group-top h3 {
	text-align: left;
    float: left;
}
#tshirt {
    width: 100%;
    margin: 0 auto;
}
#tshirt .nav-tabs {
    width: 15%;
    margin: 0;
    float: left;
}
.btn-group-top {
    clear: both;
	margin-top: 25px;
}
.btn-group-top .btn {
    float: right;
    margin: 10px 0;
}
.btn-group-top  h3 span.title {
	/*border-bottom: 2px solid #7587AA;*/
	font-family: Times New Roman;
    color: #7587AA;
}
/**-----------Front-----------**/
.inlay_area {
    border: 2px dashed #333;
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
    cursor: all-scroll;
}
#designForm .tab-content {
  overflow: visible;
}
#designForm .modal-body {
	/*border: 1px solid #F2EFEF;*/
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
    position: relative;
}
.inlay-info div {
	float: left;
}
#designForm, #front {
}
.img_area {
	border: 1px solid #DDDAA4;
    float: left;
    position: relative;
}
/**-----------Back-----------**/
#designFormBack .tab-content {
  overflow: visible;
}
#designFormBack .modal-body {
	/*border: 1px solid #F2EFEF;*/
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
    position: relative;
}
.inlay_area_back {
    border: 2px dashed #333;
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
    cursor: all-scroll;
}
.img_area_back {
  border: 1px solid #DDDAA4;
  float: left;
  position: relative;
}
/**----------Options----------**/
.pagination ul.color li span {
	padding: 11px 11px;
	cursor: pointer;
}
/**Color Picker**/
#colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
	cursor: pointer;
}
#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}
#previewColor {
	height : 37px;
	width: 149px;
	border: 1px solid #CCCCCC;
}
#tshirt_size_table {
	width: 70%;
}
#tshirt_size_table th, #tshirt_size_table td{
	text-align: center;
}
/**Color option**/
#preview_tshirt_image {
	padding-top: 10px;
}

#tshirt_color_option th {
    color: #1E1D1C;
    text-shadow: 1px 1px gainsboro;
	text-align: center;
}
#tshirt_color_option td {
	text-align: center;
}
#tshirt_color_option td input {
	text-align: center;
} 
#preview_tshirt_image img {
    max-height: 200px;
}
/** Option Table **/
#pdp_advanced_options {
	width : 98%;
	margin: auto;
}
#add_more_option {
	margin-left: 10px;
	font-weight: normal;
}
/**Add Color For Artwork**/
#tshirt .main-image{
	border: 1px solid #CCCCCC;
    text-align: center;
}
#tshirt .main-image img {
	padding: 22px; 
	width: 150px;
}
#nav li.over ul li.over ul {
left: 150px!important;
}