<?xml version="1.0"?>
<config>
    <modules>
        <Best4Mage_FrontendConfigurableProductMatrix>
            <version>0.2.2</version>
        </Best4Mage_FrontendConfigurableProductMatrix>
    </modules>
	<frontend>
		<routers>
            <frontendconfigurableproductmatrix>
                <use>standard</use>
                <args>
                    <module>Best4Mage_FrontendConfigurableProductMatrix</module>
                    <frontName>frontendconfigurableproductmatrix</frontName>
                </args>
            </frontendconfigurableproductmatrix>
        </routers>
        <layout>
            <updates>
                <frontendconfigurableproductmatrix>
                    <file>frontendconfigurableproductmatrix.xml</file>
                </frontendconfigurableproductmatrix>
            </updates>
        </layout>
		<translate>
            <modules>
                <Best4Mage_FrontendConfigurableProductMatrix>
                    <files>
                        <default>Best4Mage_Frontendconfigurableproductmatrix.csv</default>
                    </files>
                </Best4Mage_FrontendConfigurableProductMatrix>
            </modules>
        </translate>
    </frontend>
	<adminhtml>
        <translate>
            <modules>
                <Best4Mage_FrontendConfigurableProductMatrix>
                    <files>
                        <default>Best4Mage_Frontendconfigurableproductmatrix.csv</default>
                    </files>
                </Best4Mage_FrontendConfigurableProductMatrix>
            </modules>
        </translate>
	</adminhtml>
	<global>
		<models>
            <frontendconfigurableproductmatrix>
                <class>Best4Mage_FrontendConfigurableProductMatrix_Model</class>
            </frontendconfigurableproductmatrix>
        </models>
		<resources>
            <frontendconfigurableproductmatrix_setup>
                <setup>
                    <module>Best4Mage_FrontendConfigurableProductMatrix</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </frontendconfigurableproductmatrix_setup>
            <frontendconfigurableproductmatrix_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </frontendconfigurableproductmatrix_write>
            <frontendconfigurableproductmatrix_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </frontendconfigurableproductmatrix_read>
        </resources>
        <helpers>
            <frontendconfigurableproductmatrix>
                <class>Best4Mage_FrontendConfigurableProductMatrix_Helper</class>
            </frontendconfigurableproductmatrix>
        </helpers>
		<blocks>
            <frontendconfigurableproductmatrix>
                <class>Best4Mage_FrontendConfigurableProductMatrix_Block</class>
            </frontendconfigurableproductmatrix>
			<adminhtml>
				<rewrite>
                	<catalog_product_edit_tab_attributes>Best4Mage_FrontendConfigurableProductMatrix_Block_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
				</rewrite>
            </adminhtml>
        </blocks>
		<events>
			<!--<controller_action_postdispatch_frontendconfigurableproductmatrix_cart_add>
                <observers>
                    <ajaxpro_checkout_cart_add_action2>
                        <class>ajaxpro/observer</class>
                        <method>checkoutCartAddAction</method>
                    </ajaxpro_checkout_cart_add_action2>
                </observers>
            </controller_action_postdispatch_frontendconfigurableproductmatrix_cart_add>-->
			<controller_action_layout_generate_xml_before>
                <observers>
                    <frontendconfigurableproductmatrix_custom_position>
                        <type>model</type>
                        <class>frontendconfigurableproductmatrix/observer</class>
                        <method>insertCustomBlock</method>
                    </frontendconfigurableproductmatrix_custom_position>
                </observers>
            </controller_action_layout_generate_xml_before>
			<catalog_product_load_after>
				<observers>
					<frontendconfigurableproductmatrix_options_container>
						<class>frontendconfigurableproductmatrix/observer</class>
						<method>updateProductOptionContainer</method>
				   </frontendconfigurableproductmatrix_options_container>
				</observers>
			</catalog_product_load_after>
		</events>
		<page>
			<layouts>
			<fcpm_product_listing_layout module="page" translate="label">
				<label>FCPM Product Listing</label>
				<template>page/2columns-left.phtml</template>
				<layout_handle>fcpm_product_listing_layout</layout_handle>
			</fcpm_product_listing_layout>
			</layouts>
		</page>
    </global>
	<default>
		<fcpm>
			<basic_options>
				<product_level>1</product_level>
				<enable>0</enable>
				<matrix_template>0</matrix_template>
				<matrix_position></matrix_position>
				<show_link>0</show_link>
				<show_stock>1</show_stock>
				<only_checkbox>0</only_checkbox>
				<show_rowtotal>1</show_rowtotal>
				<show_grandtotal>1</show_grandtotal>
				<jquery>1</jquery>
				<showfdd>1</showfdd>
				<show_image>1</show_image>
				<second_attribute>0</second_attribute>
				<second_attribute_position>0</second_attribute_position>
				<customer_roles>0</customer_roles>
				<iaddtocart>0</iaddtocart>
			</basic_options>	
		</fcpm>
	</default>
</config>