<?xml version="1.0"?>
<config>
	<tabs>
        <b4mtab translate="label">
            <label>BEST4MAGE EXTENSIONS</label>
            <sort_order>200</sort_order>
        </b4mtab>
    </tabs>
	<sections>
        <!--<easy_tabs>
			<groups>
				<general>
					<fields>
						<matrixtabbed translate="label">
                            <label>Enable product matrix tab</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </matrixtabbed>
					</fields>
				</general>
			</groups>
		</easy_tabs>-->
		<fcpm translate="label" module="frontendconfigurableproductmatrix">
			<label>Configurable Products Matrix</label>
            <tab>b4mtab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
                <basic_options translate="label">
                    <label>Basic Options</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enable>
						<product_level translate="label">
                            <label>Use product level settings</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </product_level>
						<matrix_template translate="label">
                            <label>Select Matrix Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>frontendconfigurableproductmatrix/system_config_source_matrixtemplate</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </matrix_template>
						<matrix_position translate="label">
                            <label>Select Matrix Position
							<![CDATA[<script type="text/javascript">document.observe('dom:loaded', function() {$('fcpm_basic_options_matrix_position').observe('change', fcpmShowHideDropdownConfigurable);function fcpmShowHideDropdownConfigurable(){if ($("fcpm_basic_options_matrix_position").value == 0 || $("fcpm_basic_options_matrix_position").value == 2) {$("fcpm_basic_options_showfdd").value = 0;}}});</script>]]>
							</label>
                            <frontend_type>select</frontend_type>
                            <source_model>frontendconfigurableproductmatrix/system_config_source_matrixposition</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </matrix_position>
						<show_link translate="label">
                            <label>Show Matrix Link</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </show_link>
						<only_checkbox translate="label">
                            <label>Show Only Checkbox</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </only_checkbox>
						<show_rowtotal translate="label">
                            <label>Show Row Total</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </show_rowtotal>
						<show_grandtotal translate="label">
                            <label>Show Grand Total</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </show_grandtotal>
						<show_stock translate="label">
                            <label>Show Stock</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </show_stock>
						<jquery translate="label">
                            <label>Include jQuery</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </jquery>
						<showfdd translate="label">
                            <label>Show Dropdown in frontend</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </showfdd>
						<show_image>
							<label>Show Product Image</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
						</show_image>
						<second_attribute>
							<label>Second Attribute in Matrix
							<![CDATA[<script type="text/javascript">document.observe('dom:loaded', function(){ 							$('fcpm_basic_options_second_attribute').observe('change',fcpmSecondAttribute); function fcpmSecondAttribute() {if($("fcpm_basic_options_second_attribute").value==1){$("fcpm_basic_options_showfdd").value=1;$("row_fcpm_basic_options_second_attribute_position").show();} else {$("row_fcpm_basic_options_second_attribute_position").hide();}} fcpmSecondAttribute();});</script>]]>
							</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
						</second_attribute>
						<second_attribute_position translate="label">
                            <label>Show Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>frontendconfigurableproductmatrix/system_config_source_secondposition</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </second_attribute_position>
						<customer_roles translate="label">
                            <label>Enable for Customer Group</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>frontendconfigurableproductmatrix/system_config_source_customergroup</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_roles>
						<iaddtocart translate="label">
                            <label>Do you want individual Add to Cart</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </iaddtocart>
					</fields>
				</basic_options>
            </groups>
        </fcpm>
    </sections>
</config>