<?xml version="1.0"?>
<config>
    <modules>
        <Cmsmart_Onestepcheckout>
            <version>3.0.0</version>
        </Cmsmart_Onestepcheckout>
    </modules>
    <frontend>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Cmsmart_Onestepcheckout</module>
                    <frontName>onepage</frontName>
                </args>
            </onestepcheckout>
            <checkout>
                <args>
                    <modules>
                        <onestepcheckout before="Mage_Checkout_OnepageController">Cmsmart_Onestepcheckout_Checkout
                        </onestepcheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <onestepcheckout>
                    <file>cmsmart/cmsmart_onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>

        <translate>
            <modules>
                <Cmsmart_Onestepcheckout>
                    <files>
                        <default>Cmsmart_Onestepcheckout.csv</default>
                    </files>
                </Cmsmart_Onestepcheckout>
            </modules>
        </translate>
        <events>
            <sales_order_place_after>
                <observers>
                    <newsletter_order_place_after>
                        <class>onestepcheckout/observer</class>
                        <method>newsletter</method>
                    </newsletter_order_place_after>
                  
                </observers>
            </sales_order_place_after>

            <checkout_submit_all_after>
                <observers>
                    <onestepcheckout_checkout_submit_all_after>
                        <class>onestepcheckout/observer</class>
                        <method>applyComment</method>
                    </onestepcheckout_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
              <sales_order_save_after>
                <observers>
	                <delivery_order_save_after>
		                <class>onestepcheckout/observer</class>
		                <method>cmsmartdelivery</method>
	                </delivery_order_save_after>
                </observers>
            </sales_order_save_after> 
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onestepcheckout>
                                            <title>OneStepCheckOut Module</title>
                                            <sort_order>10</sort_order>
                                        </onestepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>	
        <layout>
            <updates>
                <onestepcheckout>
                    <file>cmsmart/cmsmart_onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
    </adminhtml>  
	<global>
		<models>
		  <onestepcheckout>
			<class>Cmsmart_Onestepcheckout_Model</class>
			<resourceModel>onestepcheckout_mysql4</resourceModel>
		  </onestepcheckout>
		  <onestepcheckout_mysql4>
			<class>Cmsmart_Onestepcheckout_Model_Mysql4</class>
			<entities>		  
				  <onestepcheckout>
					<table>cmsmart_onestep_deliverydate</table>
				  </onestepcheckout>
			</entities>
		  </onestepcheckout_mysql4>
		</models>
		<resources>
		  <onestepcheckout_setup>
			<setup>
			  <module>Cmsmart_Onestepcheckout</module>
			</setup>
			<connection>
			  <use>core_setup</use>
			</connection>
		  </onestepcheckout_setup>
		  <onestepcheckout_write>
			<connection>
			  <use>core_write</use>
			</connection>
		  </onestepcheckout_write>
		  <onestepcheckout_read>
			<connection>
			  <use>core_read</use>
			</connection>
		  </onestepcheckout_read>
		</resources>
        <helpers>
            <onestepcheckout>
                <class>Cmsmart_Onestepcheckout_Helper</class>
            </onestepcheckout>
            <checkout>
                <rewrite>
                    <url>Cmsmart_Onestepcheckout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>

        <blocks>

            <onestepcheckout>
                <class>Cmsmart_Onestepcheckout_Block</class>
            </onestepcheckout>

            <checkout>
                <rewrite>
                    <onepage_link>Cmsmart_Onestepcheckout_Block_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>

        </blocks>
    </global>

    <default>
        <onestepcheckout>
            <global>
                <title>One Step Checkout</title>
                <status>1</status>
                <title>One Step Checkout</title>
                <style_layout>style1</style_layout>
            </global>
            <default>
                <shipping>freeshipping_freeshipping</shipping>
                <payment>checkmo</payment>
                <subscribe>1</subscribe>
                <show_shipping>1</show_shipping>
                <comment>1</comment>
            </default>
            <geo>
                <country>1</country>
                <country_file>GeoIP.dat</country_file>
                <city>1</city>
                <city_file>GeoLiteCity.dat</city_file>
            </geo>
        </onestepcheckout>
    </default>
</config>